*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: white;
}
.hero{
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    background-image: url(bg_dark3y.jpg);
    background-size: cover;
    background-position: center;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10px;
}
.logo{
    color: white;
    word-spacing: 9px;
    font-size: 29px;
    letter-spacing: 2px;
    pointer-events: none;
}
span{
    color: #ea1538;
    pointer-events: none;
    font-weight: 600;
    font-weight: bolder;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 22px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    transition: .4s;
    color: #ea1538;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    text-align: center;
}
.strong_name{
    font-weight: 400;
    font-size: 45px;
    font-family: 'Jost', sans-serif;
    transition: .6s;
    margin-bottom: 10px;
}
.intro{
    color: #4d4d4d;
    letter-spacing: 2px;
    transition: 0.4s;
}
.strong_name:hover{
    color: #fff;
    letter-spacing: 2px;
}
p{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
}
.submit{
    background:#ea1538 ;
    padding: 14px 30px;
    border: 5px solid transparent;
    border-radius: 6px;
    width: 250px;
    margin-top: 20px;
}
.links{
    position: absolute;
    top: 80%;
    left: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.links h6{
    font-size: 20px;
    margin-right: 50px;
    margin-top: 9px;
}
.links .social a {
    display: inline-block;
    margin-right: 25px;
    transition: .4s;
}
.links .social a:hover{
    transform: scale(1.7);
}
